.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
